body {
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding-left: 5px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.overlay button {
    font:600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.overlay button:hover {
    background-color:#4ea0da;
}

#editForm{
    display: none;
}

.editSite{
    font:600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    color: #fff;
    margin: 0;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    position: absolute;
    bottom: 70px;
    left: 10px;
}

.editSite button {
    font:600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #21567A;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.editSite button:hover {
    background-color:#509CCF;
}

.editSite .form-table{
    margin-bottom: 40px;
    margin-top: 10px;
}